<div class="theme-box page-block profile-menu">
    <div class="profile-menu-back"></div>
    <img class="profile-menu-icon block-middle" src="/assets/img/icons/profile-icon.png">
    <div class="main-title profile-menu-title"> user_name </div>

    <div class="profile-section">
        <div class="main-section main-menu-bar profile-menu-bar">
            <img class="main-menu-bar-icon invert-icon" src="/assets/img/icons/cake-icon.png">
            <div class="main-title main-menu-bar-key"> Spawn </div>
            <div class="main-menu-bar-value"> 10 October 2015 </div>
        </div>
        
        <div class="main-section main-menu-bar profile-menu-bar">
            <img class="main-menu-bar-icon invert-icon" src="/assets/img/icons/like-checked-icon.png">
            <div class="main-title main-menu-bar-key"> Likes </div>
            <div class="main-menu-bar-value"> 502 </div>
        </div>
        
        <div class="main-section main-menu-bar profile-menu-bar">
            <img class="main-menu-bar-icon invert-icon" src="/assets/img/icons/poll-icon.png">
            <div class="main-title main-menu-bar-key"> Votes </div>
            <div class="main-menu-bar-value"> 14.5K </div>
        </div>
    </div>
    
    <div class="profile-menu-nav">
        <a class="profile-menu-nav-item" href="{{ path("user_posts") }}"> Posts </a>
        <a class="profile-menu-nav-item" href="{{ path("user_comments") }}"> Comments </a>
    </div>
</div>
