<div class="theme-box page-block">
    <a href="{{ path("user_posts") }}">
        <img class="profile-tube-icon" src="/assets/img/icons/profile-icon.png">
        <div class="main-title profile-tube-title"> user_name </div>
    </a>
</div>
