        <div class="page-side-info page-thin-none">
            {{ include("layouts/footer_info.html.twig") }}
        </div>
    </div>
</main>

<footer class="footer-main page-thin-block">
    {{ include("layouts/footer_info.html.twig") }}
</footer>

{{ include("layouts/footer.html.twig") }}
