<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="icon" href="/assets/img/icons/logo.png">

    <link rel="stylesheet" href="/assets/style/root.css">
    <link rel="stylesheet" href="/assets/style/main.css">
    <link rel="stylesheet" href="/assets/style/dropdown.css">
    <link rel="stylesheet" href="/assets/style/header.css">
    <link rel="stylesheet" href="/assets/style/footer.css">
    <link rel="stylesheet" href="/assets/style/error.css">
    <link rel="stylesheet" href="/assets/style/media.css">
    <link rel="stylesheet" href="/assets/style/post.css">
    <link rel="stylesheet" href="/assets/style/comment.css">
    <link rel="stylesheet" href="/assets/style/settings.css">
    <link rel="stylesheet" href="/assets/style/poll.css">
    <link rel="stylesheet" href="/assets/style/card.css">
    <link rel="stylesheet" href="/assets/style/profile.css">
    <link rel="stylesheet" href="/assets/style/page.css">
    <link rel="stylesheet" href="/assets/style/media_query.css">

    <script src="/assets/script/variables.js" charset="utf-8"></script>
    <script src="/assets/script/functions.js" charset="utf-8"></script>
    <script src="/assets/script/preload.js" charset="utf-8"></script>
</head>