<form id="user-reset-password-form" class="theme-box card-box page-wide-cont-s block-middle" action="{{ path("password_reset_init") }}" method="POST">
    <div class="main-title card-title"> Password Reset </div>

    {{ include("layouts/message/form_success.html.twig") }}

    <div id="user-reset-password-error"></div>

    <div class="card-cont">
        <input class="main-input card-input block-middle" name="email" type="email" placeholder="email" required>
        <input class="main-input card-input block-middle" name="password-new" type="password" placeholder="new password" required>
        <input class="main-input card-input block-middle" name="password-new-repeat" type="password" placeholder="new password (repeat)" required>
    </div>

    <input type="hidden" name="csrf-token" value="{{ csrf_token("csrf-token") }}">

    {{ include("layouts/captcha/captcha_form.html.twig") }}

    <button class="main-button card-button" type="submit" name="submit"> Send Verification </button>
</form>