<script src='https://www.hCaptcha.com/1/api.js' async defer></script>

<div class="card-cont">

	<div 
		style="transform:scale(0.79);transform-origin:0 0;"
		class="h-captcha block-middle" 
		data-sitekey="e5894063-0952-4030-b73b-030097bc5182" 
		data-theme="dark" 
		></div>

</div>
