<form class="theme-box media-cont page-block" method="POST">
    <textarea class="main-input main-textarea media-textarea block-middle" name="comment" placeholder="comment on the post..." required></textarea>
    <button class="main-button media-button block-right" type="submit" name="submit"> Comment </button>
</form>
