<form class="theme-box card-box page-wide-cont-m block-middle" action="POST">
    <input class="main-input card-input" name="title" placeholder="title..." required>
    <textarea class="main-input card-input main-textarea" name="description" placeholder="description..." required></textarea>

    <div class="main-section poll-cont">
        <input class="main-input poll-input" name="poll-1" placeholder="1st poll..." required>
        <input class="main-input poll-input" name="poll-2" placeholder="2nd poll..." required>
        <input class="main-input poll-input" name="poll-3" placeholder="3rd poll...">
        <input class="main-input poll-input" name="poll-4" placeholder="4th poll...">
        <input class="main-input poll-input" name="poll-5" placeholder="5th poll...">
    </div>

    <br>

    <button class="main-button card-button" type="submit" name="submit"> Post </button>
</form>