<div class="theme-box page-block sort-bar">
    <div class="dropdown dropdown-uriparam" tabindex="0">
        <div class="dropdown-btn"> Date &nbsp▼ </div>

        <ul class="dropdown-cont">
            <li class="dropdown-item uriparam{date:today}"> Today </li>
            <li class="dropdown-item uriparam{date:week}"> Week </li>
            <li class="dropdown-item uriparam{date:month}"> Month </li>
            <li class="dropdown-item uriparam{date:year}"> Year </li>
            <li class="dropdown-item uriparam{date:all}"> All </li>
        </ul>
    </div>

    <div class="dropdown dropdown-uriparam" tabindex="0">
        <div class="dropdown-btn"> Sort &nbsp▼ </div>

        <ul class="dropdown-cont">
            <li class="dropdown-item uriparam{sort:like}"> Likes </li>
            <li class="dropdown-item uriparam{sort:comment}"> Comments </li>
            <li class="dropdown-item uriparam{sort:vote}"> Votes </li>
        </ul>
    </div>
</div>
